@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('assets/font/HelveticaNeueMedium.otf');

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: none;
}

*::-webkit-scrollbar {
    display: none;
}

.is-inview {
    pointer-events: none;
}

#pointer {
    position: fixed;
    z-index: 1000000;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal {
    width: 1vw;
    height: 1vw;
    background: deeppink;
    border-radius: 100%;
}

.hoverprj {
    width: 8vw;
    height: 2vw;
    background: white;
    border-radius: 1vw;
    border: solid 0.1vw deeppink;
}

.invisible {
    display: none;
}

#txtprj {
    font-size: 0.8vw;
}

#txtcontact {
    font-size: 0.8vw;
}

body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#navbar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    position: fixed;
    display: flex;
    width: 20vw;
    height: 2.5vw;
    padding: 0.8vw;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    font-weight: 100;
    left: 50vw;
    top: 0.5vw;
    transform: translateX(-50%);
}

@media only screen and (max-width: 700px) {
    #navbar {
        width: 100vw;
        height: 8vw;
        top: 2vw;
        font-size: 3vw;
        font-weight: 200;
    }
}

#works {
    position: fixed;
    font-size: 1.7vw;
    left: 2.1vw;
    top: 1.5vw;
    padding: 0.2vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

@media only screen and (max-width: 700px) {
    #works {
        font-size: 5vw;
        top: 15vw;
        left: 5vw;
    }
}

#freccinascroll1 {
    background-image: url("../assets/freccinascroll.png");
    background-size: 3000% 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    position: fixed;
    top: 4vw;
    left: 3.5vw;
    height: 4vw;
    width: 2vw;
}

@media only screen and (max-width: 700px) {
    #freccinascroll1 {
        top: 23vw;
        left: 9vw;
        height: 10vw;
        width: 5vw;
    }
}

#cerchiomouse1 {
    position: fixed;
    height: 1.7vw;
    width: 5vw;
    left: 2.1vw;
    top: 2vw;
    z-index: 2000;
    background-image: url("../assets/cerchio.png");
    background-size: 3300% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

#aboutscritta {
    position: fixed;
    font-size: 1.8vw;
    right: 2.1vw;
    bottom: 3vw;
    padding: 0.2vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

@media only screen and (max-width: 700px) {
    #aboutscritta {
        font-size: 5vw;
        right: 5vw;
        bottom: 10vw;
    }
}

#freccinascroll2 {
    background-image: url("../assets/freccinascroll.png");
    background-size: 3000% 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    position: fixed;
    bottom: 5vw;
    right: 3.5vw;
    height: 4vw;
    width: 2vw;
    transform: rotate(180deg);
}

@media only screen and (max-width: 700px) {
    #freccinascroll2 {
        bottom: 17vw;
        right: 9vw;
        height: 10vw;
        width: 5vw;
    }
}

#cerchiomouse2 {
    position: fixed;
    height: 1.7vw;
    width: 4.5vw;
    right: 2.1vw;
    bottom: 3.3vw;
    z-index: 2000;
    background-image: url("../assets/cerchio.png");
    background-size: 3300% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.progress-container {
    position: fixed;
    bottom: 1.5vw;
    z-index: 1000;
    width: 100%;
    height: 0.5vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 700px) {
    .progress-container {
        height: 1vw;
        bottom: 6vw;
    }
}

#testoscorrevole {
    position: fixed;
    bottom: 0;
    height: 1.5vw;
    width: 300%;
    border-top: 1px solid white;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
}

@media only screen and (max-width: 700px) {
    #testoscorrevole {
        font-size: 3vw;
        height: 6vw;
    }
}

.progress-bar {
    height: 0.5vw;
    background: deeppink;
    width: 0%;
}

@media only screen and (max-width: 700px) {
    .progress-bar {
        height: 1vw;
    }
}

#splash {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: #5A5A5A;
    transition: 0.5s;
}

.splashout {
    display: none;
}

#spaziosotto {
    height: 10vw;
    position: relative;
    top: 30vw;
}

@media only screen and (max-width: 700px) {
    #spaziosotto {
        height: 40vw;
    }
}

/*--------------------------------    HOMEPAGE    ------------------------------*/

#homepage {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 700px) {
    #homepage {
        height: 50vh;
    }
}

#titolone {
    position: absolute;
    width: 100%;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7vw;
    line-height: 6.3vw;
    top: 150vh;
    transform: translateY(-9.4vw);
}

@media only screen and (max-width: 700px) {
    #titolone {
        top: 125vh;
    }
}

#gif {
    color: transparent;
    display: inline-block;
    height: 4.8vw;
    position: relative;
    top: 0.8vw;
    background-image: url("assets/boccioni/boccioni1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
}

#hometextanim1 {
    position: relative;
    top: 6vw;
}

#hometextanim2 {
    position: relative;
    top: 6vw;
}

#hometextanim3 {
    position: relative;
    top: 6vw;
}

/*--------------------------------    ABOUT    ------------------------------*/

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9vw;
    font-weight: 600;
}

#aboutmobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    #about {
        display: none;
    }

    #aboutmobile {
        position: relative;
        display: flex;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        left: 5vw;
    }
}

.rettangolo {
    background-color: #5A5A5A;
    height: 2.2vw;
    margin-bottom: 0.5vw;
}

.rettangolocontact {
    background-color: #5A5A5A;
    height: 2.2vw;
    transition: background-color 0.4s;
    margin-bottom: 0.5vw;
}

@media only screen and (max-width: 700px) {
    .rettangolocontact {
        height: 5vw;
    }
}

.rettangolocontact:hover {
    background-color: deeppink;
}

@media only screen and (max-width: 700px) {
    .tasticontatto {
        padding-top: 10vw;
    }
}

/*--------------------------------    PROGETTI    ------------------------------*/

#projectsmobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    #projectsmobile {
        display: block;
    }

    #projects {
        display: none;
    }
}

#ancoraworks {
    position: absolute;
    top: 185vh;
}

@media only screen and (max-width: 700px) {
    #ancoraworks {
        top: 130vh;
    }
}

.progetto {
    width: 30vw;
    height: 20vw;
    font-size: 0.9vw;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .progetto {
        width: 80vw;
        height: 53vw;
        font-size: 3vw;
        margin-top: 30vw;
    }
}

.immagine {
    width: 100%;
    height: 100%;
}

.description {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5vw;
    overflow: hidden;
}

#boccioni {
    top: -4vw;
    left: 20vw;
    background-image: url("assets/boccioni/boccioni2-2.jpg");
    background-position: center;
    background-size: 110%;
    pointer-events: all;
}

#fronzoni {
    top: -2vw;
    left: 62vw;
    background-image: url("assets/fronzoni/fronzoni3.jpg");
    background-position: center;
    background-size: 100%;
    pointer-events: all;
}

#tarzan {
    top: 0vw;
    left: 9vw;
    background-image: url("assets/tarzan/tarzan1.jpg");
    background-position: center;
    background-size: 90%;
    background-color: white;
    pointer-events: all;
}

#mdb {
    top: -2vw;
    left: 54vw;
    background-image: url("assets/mdb/mdb2.jpg");
    background-position: center;
    background-size: 100%;
    pointer-events: all;
}

#isonu {
    top: 12vw;
    left: 14vw;
    background-image: url("assets/franco/cc8.jpg");
    background-position: center;
    background-size: 110%;
    pointer-events: all;
}

#lineo {
    top: 8vw;
    left: 61vw;
    background-image: url("assets/lineo/lineo3.jpg");
    background-position: center;
    background-size: 100%;
    pointer-events: all;
}

#pivo {
    top: 18vw;
    left: 10vw;
    background-image: url("assets/pivo/pivo3.jpg");
    background-position: center;
    background-size: 100%;
    pointer-events: all;
}

#liw {
    top: 25vw;
    left: 55vw;
    background-image: url("assets/liw/liw1.jpg");
    background-position: center;
    background-size: 100%;
    pointer-events: all;
}

#coding {
    top: 33vw;
    left: 18vw;
    background-image: url("assets/franco/cc7.jpg");
    background-position: center;
    background-size: 110%;
    pointer-events: all;
}

@media only screen and (max-width: 700px) {
    #boccioni {
        top: -4vw;
        left: 5vw;
        margin-top: 0vw;
    }

    #fronzoni {
        top: -2vw;
        left: 14vw;
    }

    #tarzan {
        top: 0vw;
        left: 9vw;
    }

    #mdb {
        top: -2vw;
        left: 3vw;
    }

    #isonu {
        top: 12vw;
        left: 14vw;
    }

    #lineo {
        top: 8vw;
        left: 8vw;
    }

    #pivo {
        top: 18vw;
        left: 18vw;
    }

    #liw {
        top: 25vw;
        left: 10vw;
    }

    #coding {
        top: 33vw;
        left: 15vw;
    }
}

/*--------------------------------   PAGINE PROGETTI    ------------------------------*/

#titoloneprj {
    position: absolute;
    width: 100%;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7vw;
    line-height: 6.3vw;
    top: 50vh;
    transform: translateY(-9.4vw);
}

@media only screen and (max-width: 700px) {
    #titoloneprj {
        top: 25vh;
    }
}

#totale {
    width: 80vw;
    position: relative;
    left: 10%;
    top: -10vw;
    display: flex;
    font-size: 1.1vw;

}

@media only screen and (max-width: 700px) {
    #totale {
        flex-direction: column;
        font-size: 4vw;
    }
}

.immagini {
    width: 50vw;
    padding-bottom: 2.5vh;
}

@media only screen and (max-width: 700px) {
    .immagini {
        width: 80vw;
    }
}

#testi {
    position: -webkit-sticky;
    position: sticky;
    top: 6vw;
    align-self: flex-start;
}

@media only screen and (max-width: 700px) {
    #testi {
        position: relative;
    }
}

#immagini {
    padding-right: 2vw;
}

@media only screen and (max-width: 700px) {
    #immagini {
        padding-right: 0vw;
    }
}

#collab {
    font-size: 0.9vw;
}

@media only screen and (max-width: 700px) {
    #collab {
        font-size: 3vw;
        padding-bottom: 10vw;
    }
}

#titolo2 {
    font-size: 1.5vw;
}

@media only screen and (max-width: 700px) {
    #titolo2 {
        font-size: 6vw;
    }
}