@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: scroll;
}

#totalpage {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page {
  scroll-snap-align: start;
}

.innerpage {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: deeppink;
  color: black;
}

#titolone {
  position: fixed;

  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transform: rotate(90deg);
  transform-origin: top left;
  cursor: pointer;

  font-size: 14vh;
  left: 16vh;
  top: 3vh;
  z-index: 10;
}

#info {
  position: fixed;
  top: 2vh;

  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;

  font-size: 3.5vh;
  right: 18vh;
}

#projects {
  position: fixed;
  top: 2vh;

  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  font-size: 3.5vh;
  right: 3vh;
  z-index: 10;
}

#hello {
  position: relative;

  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  font-size: 3.5vh;
  width: 35vw;
  left: 52vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

#nome::selection {
  color: white;
  background-color: black;
}

#ita::selection {
  color: black;
  background-color: #009247;
}

#li::selection {
  color: black;
  background-color: white;
}

#an::selection {
  color: black;
  background-color: #ce2b36;
}

/*-------------projects-------------*/

.prj {
  position: relative;
  width: 38vw;
  max-width: 60vh;
  height: auto;
  transition-duration: 0.2s;
  pointer-events: auto;
  z-index: 2;
}

.prj:hover {
  opacity: 0.3;
}

.prjcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  border-radius: 2vw;
  overflow: hidden;
}

.titoli {
  position: absolute;
  font-size: 3.5vh;
  width: 35vw;
  max-width: 60vh;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.sottotitoli {
  position: absolute;
  font-size: 1.5vh;
  top: 57%;
  width: 35vw;
  max-width: 60vh;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

/*-------------info-------------*/

#infopage {
  position: fixed;
  top: -100vh;
  height: 100vh;
  width: 100vw;
}

#testoinfo {
  position: relative;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 100;
  font-size: 3vh;
  top: 25vh;
  left: 40vw;
  width: 50vw;
}

.contacts {
  position: relative;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 3.5vh;
  width: 50vw;
}

#c1 {
  top: 40vh;
  left: 47vw;
}

#c2 {
  top: 47vh;
  left: 16vw;
}

#c3 {
  top: 70vh;
  left: 24vw;
}

#c4 {
  top: 48vh;
  left: 53vw;
}

#c5 {
  top: 65vh;
  left: 65vw;
}

#profilo {
  position: relative;
  top: -10vh;
  left: 15vw;
  width: 30vh;
  height: auto;
  border-radius: 2vh;
}

/*-------------infinitescroll-------------*/

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 90vw;
  left: 10vw;
  pointer-events: auto;
}

.scroll-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-element-r {
  position: relative;
  height: 53vh;
  color: white;
  pointer-events: none;
}

.scroll-display {
  display: none;
}

#p1 {
  border-radius: 4vw;
}

#p2 {
  top: -10vh;
  left: 50vw;
}

#p3 {
  top: 3vh;
  left: 12vw;
}

#p4 {
  top: -4vh;
  left: 51vw;
}

#p5 {
  top: 2vh;
  left: 2vw;
}

#p6 {
  top: -7vh;
  left: 39vw;
}

#p7 {
  top: 0vh;
  left: 27vw;
}

#p8 {
  top: 2vh;
  left: 4vw;
}

#p9 {
  top: 2vh;
  left: 49vw;
}

/*-------------pagine progetti-------------*/

#totale {
  position: absolute;
  top: 0vh;
  left: 10vw;
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#immagini {
  display: flex;
  flex-direction: column;
}

#testo {
  position: relative;
  overflow: scroll;
  height: 85vh;
  top: 15vh;
  width: 35vw;
  right: 3vw;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 100;
  font-size: 2vh;
}

#videoplayer {
  position: relative;
  height: auto;
  width: 35vw;
}

.immagini {
  width: 50vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#fascione {
  display: none;
}

#videone {
  position: relative;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  padding-top: 3vh;
}

@media (max-aspect-ratio: 1/1) {
  #titolone {
    transform: rotate(0deg);

    font-size: 14vw;
    left: 0vw;
    text-align: center;
    top: auto;
    bottom: 0vh;
    width: 100vw;
    background-color: black;
  }

  #info {
    right: auto;
    left: 3vh;
  }

  #fascione {
    display: block;
    position: fixed;
    top: 0vh;
    width: 100vw;
    height: 8vh;
    background-color: black;
    z-index: 9;
  }

  .main-container {
    width: 100vw;
    left: 0vw;
  }

  .scroll-element-r {
    height: 33vh;
  }

  #hello {
    width: 80vw;
    left: 52vw;
  }

  #testoinfo {
    top: 10vh;
    left: 3vh;
    width: 90vw;
  }

  #profilo {
    display: none;
  }

  .contacts {
    width: 90vw;
    font-size: 3vh;
  }

  #c1 {
    top: 13vh;
    left: 3vh;
  }

  #c2 {
    top: 15vh;
    left: 3vh;
  }

  #c3 {
    top: 17vh;
    left: 3vh;
  }

  #c4 {
    top: 19vh;
    left: 3vh;
  }

  #c5 {
    top: 21vh;
    left: 3vh;
  }

  .prj {
    width: 70vw;
    max-width: 40vh;
  }

  .prj:hover {
    opacity: 1;
  }

  .prjcontent {
    transform: translate(-50%);
  }

  #p1 {
    left: 50vw;
  }

  #p2 {
    top: 0vh;
    left: 50vw;
  }

  #p3 {
    top: 0vh;
    left: 50vw;
  }

  #p4 {
    top: 0vh;
    left: 50vw;
  }

  #p5 {
    top: 0vh;
    left: 50vw;
  }

  #p6 {
    top: 0vh;
    left: 50vw;
  }

  #p7 {
    top: 0vh;
    left: 50vw;
  }

  #p8 {
    top: 0vh;
    left: 50vw;
  }

  #p9 {
    top: 0vh;
    left: 50vw;
  }

  #totale {
    display: block;
  }

  #testo {
    width: 90%;
    height: fit-content;
    padding-bottom: 20vw;
    top: 5vh;
  }

  #immagini {
    position: relative;
    top: 5vh;
  }

  .immagini {
    width: 80vw;
  }

  #videone {
    width: 80vw;
    height: 30vh;
  }
}
